.div1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0
}

.div2 {
    border: 2px solid;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

